.root{
    .heading{
        font-size: 30px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: blue;
        display: flex;
        justify-content: center;
        margin-top: 20px
    }
    .container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        border-bottom: 1px solid blue;
        padding: 5px;
        .chip{
            & > ul{
                display: flex;
                width: 100%;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                & > li{
                    margin-left: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: lightgray;
                    width: fit-content;
                    padding: 5px 5px 5px 0;
                    border-radius: 20px;
                    height: 15px;
                    margin-top: 10px;
                    .profileImage{
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                    }
                    p{
                        cursor:default;
                        margin: 0;
                        padding: 0;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .cross{
                        cursor: pointer;
                        width: 10px;
                        height: 10px;
                        margin-right: 5px;
                    }
                }
            }
        }
    .input{
        & > input{
            font-size: 16px;
            border: none;
            flex: 1;
            padding: 5px;;
            outline: none;
        }
        margin-top: 10px;
    }
}
    .modal{
        max-width: fit-content;
        background-color: #ffffff;
        max-height: 200px;
        overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        & > ul{
            padding-left: 10px;
            padding-right: 10px;
            & > li{
                cursor: pointer;
                height: 20px;
                width: 100%;
                display: flex;
                align-items: center;
                padding: 0;
                margin-top: 20px;;
                .image{
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                }
                .text{
                    margin-left: 10px;
                    font-size: 16px;
                }
                .email{
                    margin-left: 10px;
                    font-size: 16px;
                }
            }
        }
    }
}